/*
 * SPDX-License-Identifier: GPL-2.0
 * Copyright (c) 2023 MCST
 */

#ifndef NODES
# define NODES 1
#endif
#define CELLS 2

#define E16C

/ {
	#address-cells = <CELLS>;
	#size-cells = <CELLS>;

#define NODE 0
#include <e2k/e2k-v6.dtsi>

#include <e2k/e2k-v6-uncore.dtsi>
#include <e2k/eioh.dtsi>
#undef NODE

#if NODES > 1
# define NODE 1
#include <e2k/e2k-v6-uncore.dtsi>
#include <e2k/eioh.dtsi>
# undef NODE
#endif

#if NODES > 2
# define NODE 2
#include <e2k/e2k-v6-uncore.dtsi>
#include <e2k/eioh.dtsi>
# undef NODE
#endif

#if NODES > 3
# define NODE 3
#include <e2k/e2k-v6-uncore.dtsi>
#include <e2k/eioh.dtsi>
# undef NODE
#endif

};
