# Lower HZ for performance
CONFIG_HZ_20=y

# Disable tracing features - they are not really useful on
# simulator and significantly slow down kernel startup.
# CONFIG_FUNCTION_TRACER is not set
# CONFIG_FTRACE_SYSCALLS is not set
# CONFIG_KPROBE_EVENTS is not set

# Disable MODVERSIONS - it's not really useful on simulator
# and significantly slows down compilation.
# CONFIG_MODVERSIONS is not set

# Simulator specific options
CONFIG_E2K_SIMULATOR=y
