#
# Use lz4 instead of gzip for faster booting
#
# CONFIG_KERNEL_GZIP is not set
CONFIG_KERNEL_LZ4=y

#
# Reduce sched timer frequency to reduce hardware requirements
#
# CONFIG_HZ_100 is not set
CONFIG_HZ_10=y

#
# Build in often used modules to avoid slow copying of modules to prototype:
# * CONFIG_IGB for network
# * CONFIG_BLK_DEV_LOOP for virtualization
# * Some filesystems
#
CONFIG_BLK_DEV_LOOP=y
CONFIG_ELDWCXPCS=y
CONFIG_IGB=y
CONFIG_MGB=y
CONFIG_REISERFS_FS=y
CONFIG_MSDOS_FS=y
CONFIG_EXFAT_FS=y
CONFIG_NTFS_FS=y

#
# Tracing is disabled for faster booting
#
# CONFIG_KPROBE_EVENTS is not set
# CONFIG_FTRACE_SYSCALLS is not set
# CONFIG_FUNCTION_TRACER is not set
