menu "MCST Vivante GPU support (galcore v7.0.0.36)"
	depends on DRM

config MCST_GPU_VIV_E8V7
	tristate "Vivante GPU support for E8V7 SoC (galcore v7.0.0.36)"
	depends on ARCH_FORCE_MAX_ORDER > 15 && E2K && (CPU_E2C3 || CPU_E8V7)
	select DRM_VM
	default m
	help
         Say Y to get the GPU driver support.

config MCST_GPU_VIV_E8V7_FPGA_PROTO
  bool "Build special version for FPGA prototype"
  depends on MCST_GPU_VIV_E8V7
  default y
  help
    Increases waiting timeouts and some code behavior.
    Choose this option to debugging only.
    Please rebuild userland code with this option, also.

endmenu
