# SPDX-License-Identifier: GPL-2.0-only
#
# Video configuration
#

menu "Graphics support"

if HAS_IOMEM

config HAVE_FB_ATMEL
	bool

source "drivers/char/agp/Kconfig"

source "drivers/gpu/vga/Kconfig"

source "drivers/gpu/host1x/Kconfig"
source "drivers/gpu/ipu-v3/Kconfig"

source "drivers/gpu/drm/Kconfig"

menu "Frame buffer Devices"
source "drivers/video/fbdev/Kconfig"
endmenu

source "drivers/video/backlight/Kconfig"

config VGASTATE
       tristate
       default n

config VIDEOMODE_HELPERS
	bool

config HDMI
	bool

config FB_MGAM83
	tristate
	depends on FB
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select FB_SOFT_CURSOR
	default n

config PCI_FB_MGAM83
	tristate "PCI MGAM83 Frame buffer driver"
	depends on PCI && FB
	select FB_MGAM83
	default y

config MGA_HWCOPYAREA
	bool "PCI - Harware accelerator for \"fb_copyarea\" enabling"
	depends on PCI_FB_MGAM83
	default y

config MGA_HWIMAGEBLIT
	bool "Harware accelerator for \"fb_imageblit\" enabling"
	depends on PCI_FB_MGAM83
	default y

config SBUS_FB_MGAM83
	tristate "SBUS MGAM83 Frame buffer driver"
	depends on SBUS && FB
	select FB_MGAM83
	default y

config SBUS_MGA_HWCOPYAREA
	bool "SBUS - Harware accelerator for \"fb_copyarea\" enabling"
	depends on SBUS_FB_MGAM83 
	default y

config FB_MGA3D
	tristate "MGA3D framebuffer driver"
	depends on PCI && FB
	default m

endif # HAS_IOMEM

if VT
	source "drivers/video/console/Kconfig"
endif

if FB || SGI_NEWPORT_CONSOLE
	source "drivers/video/logo/Kconfig"

endif


endmenu
