 # SPDX-License-Identifier: GPL-2.0
 # Copyright (c) 2023 MCST
 
#
# E2K CPU Idle drivers
#

config E90S_CPUIDLE
	tristate "CPU Idle Driver for E90S machines (r2000)"
	depends on E90S
	default m
	help
	  CPU Idle driver for E90S machines (r2000).

