menu "MCST Vivante GPU support (galcore v6.4.8)"
	depends on DRM_VIVANTE

config MCST_GPU_VIV
	tristate "MCST Vivante GPU support (galcore v6.4.8)"
	depends on FORCE_MAX_ZONEORDER > 15
	select DRM_VM
	default m
	---help---
         Say Y to get the GPU driver support.

endmenu
