menu "MCST Vivante GPU support (galcore v6.4.8)"
	depends on DRM_VIVANTE

config MCST_GPU_VIV
	tristate "MCST Vivante GPU support (galcore v6.4.8)"
	depends on ARCH_FORCE_MAX_ORDER > 15 && !CPU_E8V7
	select DRM_VM
	default m
	help
         Say Y to get the GPU driver support.

endmenu
